
@{
    ViewBag.Title = "aboutUs";
}

<!-- About Page Content -->
<div class="stl-glb-ctnr afb-clear " id="about">
    <h1>About us</h1>
    <hr class="stl-hr" />
    <div class="stl-ctnr-one stl-glb-ctnr">
        <div class="stl-glb-ctnt stl-ctnt-one">
            <p>Our main mission is to promote the philosophy of Shri Shirdi Sai Baba.</p>
            <p>SS (Saibaba Seattle) is organized exclusively for furthering Cultural, Charitable, Spiritual, and educational causes</p>
            <p>To conduct charitable activities such as medical aid, relief to people affected by natural calamities, organize shelters to the homeless, annadaana (feeding) to the destitute.</p>
            <p>To sponsor or support cultural, educational, religious, spiritual or charitable activities or organizations in the United States or abroad.</p>
            <h3>OUR VISION:</h3>
            <hr class="stl-hr" />
            <p>The primary objective of SS is to establish and sustain the Shirdi Sai Temple in Seattle, WA and facilitate worship services similar to Shri Shirdi Sai Baba Mandir in Shirdi, India.</p>
            <p>The long term plans include development of its picturesque in Seattle, WA comprising Baba's mandir, staff quarters , multi-purpose hall and meditation center for use of devotees.</p>
            <h3>CURRENT STATUS OF THE TEMPLE:</h3>
            <hr class="stl-hr" />
            <p>
                We are looking for a Temple Space to have the BABA Temple, where we can do 4 AArati's everyday like in Shirdi.
            </p>
            <div class="stl-btn-ctnr">
                <a href="~/pdf/saibaba-seattle.pdf" class="btn stl-btn by-laws" target="_blank">By-Laws</a>
            </div>
        </div>
    </div>
</div>

<script>
      $("li").removeClass("active");
      $("a:contains('About us')").parent().addClass("active")
</script>
<!-- About Page Content End-->  
