
@{
    ViewBag.Title = "books";
}

<!-- Books page content-->

<div class="stl-glb-ctnr afb-clear " id="Books">
    <h1>Books</h1>
    <hr class="stl-hr" />
    <div class="stl-ctnr-one stl-glb-ctnr">
        <div class="stl-glb-ctnt stl-ctnt-one">
            <ul class="stl-ul-ctnr books-ul">
                <li>Shri Sai Satcharita : Life and Teachings of Shirdi Sai Baba" translated from Marathi by Dr. Indira Kher</li>
                <li>"Unravelling the Enigma : Shirdi Sai Baba in the Light of Sufism" by Dr. Marianne Warren</li>
                <li>True Tales of Shirdi Sai Baba" by Prof. Dr. B.H. Briz Kishore</li>
                <li>"Life History of Shirdi Sai Baba" by Ammula Sambasiva Rao</li>
                <li>"God Who Walked on Earth : The Life & Times of Shirdi Sai Baba" by Rangaswami Parthasarthy</li>
                <li>"Sri Sai Baba" by Sai Saran Anand</li>
                <li>"Sri Shirdi Sai Baba : The Universal Master" by Dr. S.P. Ruhela</li>
                <li>"Shri Shirdi Sai Baba" (in pictures) by Gaurav K Ghai</li>
                <li>"108 Names of God:Shirdi Sai Baba" by V. Kumar</li>
            </ul>
        </div>
    </div>
</div>
<div class="stl-glb-ctnr">
    <div class="panel-group wrap" id="bs-collapse">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#bs-collapse" href="#one" aria-expanded="false" class="collapsed">BOOKS - ENGLISH<span class="pnl-icon"><i class="ion ion-ios-arrow-up"></i></span></a>
                </h4>
            </div>
            <div id="one" class="panel-collapse collapse">
                <div class="books-panl-inner-body">
                    <div class="pnl-border">
                        <div class="stl-glb-ctnr">
                            <div class="col-md-6">
                                <div class="stl-pnl-ctnr">
                                    <div class="stl-pnl">
                                        <div class="stl-pnl-header">
                                            <p>Experiencing Saibaba's Shirdi</p>
                                        </div>
                                        <div class="stl-pnl-body">
                                            <img src="~/pics/sguide-thumb-1.png" alt="image1" class="img-responsive">
                                            <p>
                                                Millions of devotees are drawn to Shirdi by the divine power of Sri Saibaba. Shirdi Guide introduces you to the important places of Saibaba's holy Shirdi village and also takes you to the main places viz Khandoba
                                                Temple,
                                            </p>
                                        </div>
                                        <div class="stl-pnl-ftr">
                                            <a class="btn stl-btn" href="http://literature.saibaba.com/books/shirdiguide/index.html" target="_blank">Read</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="stl-pnl-ctnr">
                                    <div class="stl-pnl stl-pnl-rt">
                                        <div class="stl-pnl-header stl-pnl-header-rt">
                                            <p>Arati Saibaba</p>
                                        </div>
                                        <div class="stl-pnl-body">
                                            <img src="~/pics/sguide-thumb-2.png" alt="image1" class="img-responsive">
                                            <p>Arati Saibaba is a comprehensive and systematic study of the concept of aratis in general and historical background and evolution of the institution of Shirdi Aratis in particular, written by Sri Sainathuni</p>
                                        </div>
                                        <div class="stl-pnl-ftr">
                                            <a  class="btn stl-btn" href="http://literature.saibaba.com/books/aratisaibaba/index.html" target="_blank">Read</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="stl-glb-ctnr">
                            <div class="col-md-6">
                                <div class="stl-pnl-ctnr">
                                    <div class="stl-pnl">
                                        <div class="stl-pnl-header">
                                            <p>Devotees Experiences of Sri Sai Baba</p>
                                        </div>
                                        <div class="stl-pnl-body">
                                            <img src="~/pics/sguide-thumb-3.png" alt="image1" class="img-responsive">
                                            <p>Sri Sai Baba's spiritual grandeur is disclosed in the thrilling account of His devotees experiences in this book, comprised with in 3 parts, which the learned author Sri B.V.Narasimha</p>
                                        </div>
                                        <div class="stl-pnl-ftr">
                                            <a class="btn stl-btn" href="http://literature.saibaba.com/books/devotees_experiences/index.html" target="_blank">Read</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="stl-pnl-ctnr">
                                    <div class="stl-pnl stl-pnl-rt">
                                        <div class="stl-pnl-header stl-pnl-header-rt">
                                            <p>Life of Sai Baba</p>
                                        </div>
                                        <div class="stl-pnl-body">
                                            <img src="~/pics/sguide-thumb-4.png" alt="image1" class="img-responsive">
                                            <p>
                                                he Life of Sai Baba, comprised with 4 volumes, written by B.V.Narasimha Swami, is an invaluable work which brings to light very many remarkable hidden facts of Sai Baba's life and explains the deep
                                            </p>
                                        </div>
                                        <div class="stl-pnl-ftr">
                                            <a class="btn stl-btn" href="http://literature.saibaba.com/books/life_of_saibaba/index.html" target="_blank">Read</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of panel -->
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#bs-collapse" href="#two" aria-expanded="false" class="collapsed">BOOKS - TELUGU<span class="pnl-icon"><i class="ion ion-ios-arrow-up"></i></span></a>
                </h4>
            </div>
            <div id="two" class="panel-collapse collapse in">
                <div class="books-panl-inner-body">
                    <div class="pnl-border">
                        <div class="stl-glb-ctnr">
                            <div class="col-md-6">
                                <div class="stl-pnl-ctnr">
                                    <div class="stl-pnl">
                                        <div class="stl-pnl-header">
                                            <p>Sai Bhakti Sadhana Rahasyam</p>
                                        </div>
                                        <div class="stl-pnl-body">
                                            <img src="~/pics/sguide-thumb-5.png" alt="image1" class="img-responsive">
                                            <p>Sai Bhakti Sadhana Rahasyam, comprises with unique essays written by Sri Sainathuni Sarath Babuji, which will make all devotees of Sri Saibaba must read and to know the "Real" Saibaba. It is</p>
                                        </div>
                                        <div class="stl-pnl-ftr">
                                            <a class="btn stl-btn" href="http://literature.saibaba.com/books/sbsr/index.html" target="_blank">Read</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="stl-pnl-ctnr">
                                    <div class="stl-pnl stl-pnl-rt">
                                        <div class="stl-pnl-header stl-pnl-header-rt">
                                            <p>Sri Sai Gurucharitra</p>
                                        </div>
                                        <div class="stl-pnl-body">
                                            <img src="~/pics/sguide-thumb-6.png" alt="image1" class="img-responsive">
                                            <p>Sri Sai Gurucharitra is the very first and complete Telugu translation of the seven chapters on Sri Saibaba written by Sri Dasaganu Maharaj in Marathi. This book was published with an Introduction by Sri</p>
                                        </div>
                                        <div class="stl-pnl-ftr">
                                            <a class="btn stl-btn" href="http://literature.saibaba.com/books/saigurucharitra/default.aspx" target="_blank">Read</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of panel -->
    </div>
</div>
<!-- Books page content End-->