
@{
    ViewBag.Title = "ganGanGanatBote";
}


<!-- Gan Gan Ganat Bote Page Content -->
<div class="stl-glb-ctnr afb-clear" id="ganGan">
    <h1>Gan Gan Ganat Bote</h1>
    <hr class="stl-hr" />
    <div class="stl-ctnr-four stl-glb-ctnr stl-ctnr-six">
        <div class="stl-glb-ctnt stl-ctnt-four stl-ctnt-six">
            <div class="stl-img-ctnr">
                <img class="img-bdr-shd img-responsive" src="~/pics/Gan Gan Ganat Bote 2.jpg" alt="Gan Gan Ganat Bote" />
            </div>
        </div>
    </div>
</div>
<div class="stl-glb-ctnr afb-clear ">
    <div class="stl-ctnr-seven stl-ctnr-one stl-glb-ctnr">
        <div class="stl-glb-ctnt stl-ctnt-seven stl-ctnt-one">
            <p>Shri Gajanan Maharaj of Shegaon, was a supreme saint from ‘Vidarbha’ region of Maharashtra. HE appeared in Shegaon on 23rd February 1878 and entered in ‘Maha-samadhi’ on 8th of September 1910 (Rishi Panchami, a day after Ganesh Chaturthi).</p>
            <p>
                In these 32 years Maharaj travelled from place to place often without clothes, summer or winter. HE would appear in any one’s house as per their desire for Darshan or to show them the devotional path. HE would eat anything even food thrown
                away or what came HIS way.<span id="gggb-read-more-one" class="stl-more"><a> Read more..</a></span>
            </p>
            <div class="more-hide gggb-more-one">
                <p>
                    HE was giving us the message “Food is Brahma, don’t waste it. Annam Brahmeti. Food is God.” Even more than 106 years after HIS ‘Maha-samadhi HIS devotees/followers keep on increasing every day across the globe. Shri Gajanan Maharaj still
                    takes up all HIS devotees sufferings and bless them with the showerings of happiness.
                </p>
                <p>
                    Shri Gajanan Maharaj fulfills all the wishes of His devotees. As said that the glory of Shri Gajanan Maharaj is endless. Those who pray & believe with complete dedication, devotion and faith have never faced disappointment and have had
                    the benefit of meeting their spiritual desires.
                </p>
                <p>
                    A wish fulfilling vrat of Gajanan Maharaj is available among the devotees for overcoming any obstacles in life. Shri Gajanan Maharaj’s vrat is a superior vrat with quick yielding of wish. This vrat can be performed by any one and also
                    the process of this vrat is very simple.
                </p>
                <p>It has been observed and experienced by many devotees that Shri Gajanan Maharaj fulfill all the wishes of HIS devotees and remembrance of Shri Gajanan Maharaj decreases obstacles of life.<span id="gggb-hide-more-one" class="stl-more"><a> See less..</a></span></p>
            </div>
            <div class="stl-btn-ctnr">
                <form id="donate_once" class="stl-gan-dn" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="D5LZUMQVL7MJ8">
                    <div class="entry-feild text-center">
                        <button type="submit" class="btn stl-btn donate">Donate</button>
                    </div>
                </form>
                <form id="donate_recur" class="stl-gan-dn" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="C3BRFMLY4P38Q">
                    <div class="entry-feild text-center">
                        <button type="submit" class="btn stl-btn subscribe">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="stl-glb-ctnr afb-clear ">
    <h3>HIS chamatkar during 32 years and devotees feel the same in this time also</h3>
    <hr class="stl-hr" />
    <div class="stl-ctnr-one stl-glb-ctnr">
        <div class="stl-glb-ctnt stl-ctnt-one">
            <ul class="stl-ul-ctnr gggb-ul">
                <li>Holy water, touched by the feet of Shri Gajanan Maharaj, saved the life of Janrao Deshmukh</li>
                <li>A naughty horse of Govind Bua was calmed, Naughty cow of Sukhlal was calmed at Akola</li>
                <li>Crows were ordered to keep away from Dwarkeshwar. Crows obeyed order for 12 years. </li>
                <li>Saved Ganu Javare from the explosion in the well</li>
                <li>Pudalik was cured of Plague and Gangabharati was cured of leprosy by Shri Gajanan Maharaj</li>
                <li>Bandu found underground wealth and got free from debts by the grace of Shri Gajanan Maharaj</li>
                <li>At Akoli, Shri Gajanan Maharaj created water in a dry well</li>
                <li>Ganga, Bhagirathi and Yamuna river water was brought into a well at Akot</li>
                <li>Bapuna Kale was given Darshan of God Vithoba and as Samarth Ramdas Swamy to Balkrishna Bua</li>
                <li>A dead dog was brought back to life</li>
                <li>By Maharaj’s grace Pitamber created leaves on a dry barren tree</li>
                <li>Balgangadhar Tilak the freedom fighter was blessed by Shri Maharaj and he wrote “Geeta” He had great respect for Maharaj</li>
                <li>A son was given to Khandu Patil and Bapuna Kale</li>
                <li>Met with Vasudevanand Saraswati in person at Shegaon</li>
                <li>Narmada river manifested in the form of a fisherman’s daughter and came for HIS darshan at Omkareshwar on one Somvati Amavasya day</li>
                <li>Controlled the nature by stopping storm</li>
                <li>Lit HIS chilim without any fire</li>
                <li>Given Moksha to Shri Bhaskar Patil and Madhav</li>
                <li>There are countless miracles experienced by HIS devotees every day</li>
                <li>“Gan Ganat Bote” is HIS mantra</li>
                <li>“Don’t think I have gone, I will be here” was HIS last assurance to devotees</li>
            </ul>
        </div>
    </div>
</div>
<!-- Gan Gan Ganat Bote Page Content End-->
