
@{
    ViewBag.Title = "Index";
}

<!-- Home Page Content -->
<div class="stl-glb-ctnr afb-clear">
    <h1>Shri Shirdi Sai Baba</h1>
    <hr class="stl-hr" />
</div>
<div class="stl-glb-ctnr afb-clear stl-ctnr-one">
    <div class="stl-glb-ctnt stl-ctnt-one">
        <p>Shri Sai Baba is revered as one of the greatest saints ever seen in India, endowed with unprecedented powers, and is worshipped as a God incarnate.</p>
        <h3>(SAI meaning Sakshaat Ishwar)</h3>
    </div>
</div>
<div class="stl-glb-ctnr afb-clear stl-ctnr-two">
    <h1>Introduction</h1>
    <hr class="stl-hr" />
    <div class="stl-glb-ctnt stl-ctnt-two">
        <div class="col-lg-3">
            <div class="stl-ctnr-four stl-glb-ctnr stl-ctnr-six">
                <div class="stl-glb-ctnt stl-ctnt-four stl-ctnt-six">
                    <div class="stl-img-ctnr">
                        <img class="img-bdr-shd img-responsive" src="~/pics/stl-introduction.jpg" alt="Introduction" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">

            <p>Shri Sai Baba is revered as one of the greatest saints ever seen in India, endowed with unprecedented powers, and is worshipped as a God incarnate. (SAI meaning Sakshaat Ishwar) - <span class="stl-bt-txt">GOD THE ABSOLUTE</span></p>
            <p>
                This mysterious Fakir first made HIS appearance in Shirdi as a youth and remained there throughout His long life. HE transformed the lives of those who met Him and continuously is doing so even after HIS Samadhi in 1918 for those whose hearts
                are touched by his love and who pray and call Him at any emergency in life for his blessings
            </p>
            <p>
                Baba stated that His mission is to <span> "Give Blessings" </span>without discrimination to all, and He proves it in myriad ways by healing the sick.ing people into harmony within themselves and with each other and, above all, in effecting the
                spiritual evolution. <span id="stl-read-more" class="stl-more"><a> Read more..</a></span>
            </p>
            <div class="more-hide home-more">
                <p>An outstanding aspect of Sai Baba is that He is beyond distinctions of religion, caste or creed. He embodied all religions and preached the Universal religion of Love.</p>
                <p>
                    Devotees of all faiths find their meeting point in Sai and people from all communities and all walks of life are united by the great love and reverence Baba inspires in them. Baba had great regard for His Hindu devotees and their Gurus and
                    He responded to their needs and permitted worship according to the Hindu and other religious rituals . At the same time His dwelling place was a Masjid (Mosque) and the name of Allah was ever on his lips. HE described himself as in Service
                    to GOD (ALLAH) and as a soul ever remembering <span class="stl-bt-txt">ALLAH -(YAD - A - HAKKA)</span>
                </p>
                <p>
                    People today flock Shirdi in ever-increasing numbers to pay homage to the Divine and to experience the truth of Baba's promise that He would be active in answering devotees' prayers even from his tomb.
                    <span id="stl-hide-more" class="stl-more"><a>See less..</a></span>
                </p>
            </div>
        </div>


    </div>
</div>



<script>
    $("li").removeClass("active");
    $("a:contains('Home')").parent().addClass("active");

</script>



