
@{
    ViewBag.Title = "padukaSeva";
}


<!-- PadukaSeva Page Content -->
<div class="stl-glb-ctnr afb-clear" id="seva">
    <h1>SaiBaba Paduka Seva/Pooja - Free</h1>
    <hr class="stl-hr" />
    <div class="stl-ctnr-one stl-glb-ctnr">
        <div class="stl-glb-ctnt stl-ctnt-one">
            <p>
                Saibaba Paduka Seva is a Free service which Shri Shirdi Saibaba Temple of Seattle is initiating the SaiBaba Paaduka Puja/Seva where devotees can take Baba Paaduka to their homes from the temple and keep them on every Sunday evening between
                4:00 PM to 6:00 PM.
            </p>
            <p>This is a unique opportunity to have these blessed symbols of Baba in your Home where you can have most personal and spiritual experience of their auspicious presence.</p>
            <p>If you are intrested in Paduka Seva, please send an email with your name, phone number, email, home address and desired dates to admin@saibabaseattle.com.</p>
            <p>This service is purely first come first serve basis and everyone is welcome to participate in it.</p>
        </div>
    </div>
</div>
<div class="stl-glb-ctnr afb-clear stl-ctnr-three">
    <h2>Paduka Seva Schedule</h2>
    <hr class="stl-hr" />
    <div class="stl-tbl-ctnr afb-clear">
        <div class="stl-table-ctnt">
            <div class="table-responsive">
                <table class="table stl-tbl">
                    <thead class="stl-tbl-hd">
                        <tr class="stl-tbl-row">
                            <th class="stl-th stl-td-1">#</th>
                            <th class="stl-th stl-td-2">Time</th>
                            <th class="stl-th stl-td-3">Pooja</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="stl-tbl-row">
                            <td class="stl-td-1">01</td>
                            <td class="stl-td-2">4:00 PM</td>
                            <td class="stl-td-3">Paduka Pratishta at Home</td>
                        </tr>
                        <tr class="stl-tbl-row">
                            <td class="stl-td-1">02</td>
                            <td class="stl-td-2">4:10 PM</td>
                            <td class="stl-td-3">Guru Paduka Stothram</td>
                        </tr>
                        <tr class="stl-tbl-row">
                            <td class="stl-td-1">03</td>
                            <td class="stl-td-2">4:30 PM to 5:00 PM</td>
                            <td class="stl-td-3">Satcharitra Reading/listening</td>
                        </tr>
                        <tr class="stl-tbl-row">
                            <td class="stl-td-1">04</td>
                            <td class="stl-td-2">5:00 PM to 6:00 PM</td>
                            <td class="stl-td-3">Bhajans</td>
                        </tr>
                        <tr class="stl-tbl-row">
                            <td class="stl-td-1">05</td>
                            <td class="stl-td-2">6:00 PM</td>
                            <td class="stl-td-3">Dhoop Aarti to BABA</td>
                        </tr>
                        <tr class="stl-tbl-row">
                            <td class="stl-td-1">06</td>
                            <td class="stl-td-2">6:30 PM</td>
                            <td class="stl-td-3">Prasadam and closure</td>
                        </tr>
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            </div>
        </div>
    </div>
</div>

<script>
    $("li").removeClass("active");
    $("a:contains('PadukaSeva')").parent().addClass("active")
</script>