
@{
    ViewBag.Title = "parentAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="stl-glb-ctnr afb-clear">
    <h1>Saibaba Seattle  Admin Pages together</h1>
    <hr class="stl-hr" />
    <div class="stl-ctnr-one stl-glb-ctnr">
        <p class="stl-dinb"><a href='/Home/adminSignOut' class="btn stl-btn">Sign out</a></p>
        <div class="stl-ctnt-one text-center">
            <p class="stl-dinb"><a href="/Home/adminConsoleForImages" class="btn stl-btn" target="_blank">Upload Flyer Images</a></p>
            <p class="stl-dinb"><a href="/Home/adminConsoleForUpdates" class="btn stl-btn" target="_blank">Upload Update News</a></p>
            <p class="stl-dinb"><a href="/Home/adminConsoleForExcel" class="btn stl-btn" target="_blank">Upload Events / Priest Services</a></p>
        </div>
    </div>
</div>