
@{
    ViewBag.Title = "pictureGallery";
}

<!--Picture Gallery page content-->

<div class="stl-glb-ctnr afb-clear" id="pGallery">
  <h1>Picture Gallery</h1>
    <hr class="stl-hr" />
</div>
<!-- <div class="stl-glb-ctnr afb-clear stl-ctnr-one">
    <div class="stl-glb-ctnt stl-ctnt-one">
        <h2>Images coming soon..</h2>
        <a class="btn stl-btn" href="https://picasaweb.google.com/104520733189059160845/SaibabaAkandaParayanam" target="_blank">Saibaba Akanda Parayanam</a>
        <a class="btn stl-btn" href="https://picasaweb.google.com/104520733189059160845/SaibabaAkandaParayanam" target="_blank">SaiBaba Paduka Pratishtapana</a>
    </div>
</div> -->
<div class="stl-glb-ctnr afb-clear stl-ctnr-one">
    <div class="stl-glb-ctnt">
        <div class='list-group gallery stl-flex-wrap'>
           <!--  <div class='col-sm-6'>
                <div class="stl-glimg-ctnr afb-clear">
                    <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-6.jpg">
                        <img class="img-responsive" alt="" src="~/pics/stl-gl-6.jpg" />
                    </a>
                </div>
            </div> -->
            <!-- col-6 / end -->
            <div class='col-sm-6 stl-flex-50'>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-1.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-1.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-2.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-2.jpg" />
                </a>
                 <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-3.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-3.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-4.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-4.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-5.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-5.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-6.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-6.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-7.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-7.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-8.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-8.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-9.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-9.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-10.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-10.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-11.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-11.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-12.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-12.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-13.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-13.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-14.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-14.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-15.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-15.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-16.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-16.jpg" />
                </a>
                 <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-36.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-36.jpg" />
                </a>
               
            </div>
            <!-- col-6 / end -->
            <div class='col-sm-6 stl-flex-50'>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-17.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-17.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-18.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-18.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-19.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-19.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-20.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-20.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-21.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-21.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-22.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-22.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-23.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-23.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-24.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-24.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-25.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-25.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-26.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-26.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-27.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-27.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-28.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-28.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-29.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-29.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-30.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-30.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-31.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-31.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-32.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-32.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-33.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-33.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-34.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-34.jpg" />
                </a>
                <a class="thumbnail fancybox" rel="ligthbox" href="~/pics/stl-gl-35.jpg">
                    <img class="img-responsive" alt="" src="~/pics/stl-gl-35.jpg" />
                </a>
            </div>
        </div>
        <!-- list-group / end -->
    </div>
    </div>
<!--Picture Gallery page content End-->