
@{
    ViewBag.Title = "saiElevenPromises";
}

<!-- Sai 11 Promises-->
<div class="stl-glb-ctnr afb-clear " id="saiEleven">
    <h1>Sai 11 Promises</h1>
    <hr class="stl-hr" />
    <div class="stl-ctnr-one stl-glb-ctnr">
        <div class="stl-glb-ctnt stl-ctnt-one">
            <ul class="stl-ul-ctnr">
                <li>Whoever puts his feet on Shirdi soil, his sufferings would come to an end.</li>
                <li>The wretched and miserable would rise into plenty of joy and happiness, as soon as they climb steps of my samadhi.</li>
                <li>I shall be ever active and vigorous even after leaving this ear thly body.</li>
                <li>My tomb shall bless and speak to the needs of my devotees.</li>
                <li>I shall be active and vigorous even from the tomb.</li>
                <li>My mortal remains would speak from the tomb.</li>
                <li>I am ever living to help and guide all who come to me, who surrender to me and who seek refuge in me.</li>
                <li>If you look to me, I look to you.</li>
                <li>If you cast your burden on me, I shall surely bear it.</li>
                <li>If you seek my advice and help, it shall be given to you at once.</li>
                <li>There shall be no want in the house of my devotees.</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sai 11 Promises End-->