
@{
    ViewBag.Title = "saiSaying";
}

<!-- Sai 100 Saying Page Content -->
<div class="stl-glb-ctnr afb-clear ">
    <h1>Sai 100 Saying</h1>
    <hr class="stl-hr" />
    <div class="stl-ctnr-one stl-glb-ctnr">
        <div class="stl-glb-ctnt stl-ctnt-one">
            <ol class="stl-ul-ctnr stl-ol-ctnr">
                <li>A Collection from Sri Sai Satcharita</li>
                <li>Why fear when I am here?</li>
                <li>I am formless and everywhere</li>
                <li>I am in everything and beyond. I fill all space.</li>
                <li>All that you see taken together is Myself.</li>
                <li>I do not shake or move.</li>
                <li>A Collection from Sri Sai Satcharita</li>
                <li>If one devotes their entire time to me and rests in me, need fear nothing for body and soul.</li>
                <li>If one sees me and me alone and listens to my Leelas and is devoted to me alone, they will reach God.</li>
                <li>My business is to give blessings.</li>
                <li>I get angry with none. Will a mother get angry with her children? Will the ocean send back the waters to the several rivers?</li>
                <li>I will take you to the end.</li>
                <li>Surrender completely to God.</li>
                <li>If you make me the sole object of your thoughts and aims, you will gain the supreme goal.</li>
                <li>Trust in the Guru fully. That is the only sadhana.</li>
                <li>I am the slave of my devotee.</li>
                <li>Stay by me and keep quiet. I will do the rest.</li>
                <li>What is our duty? To behave properly. That is enough.</li>
                <li>My eye is ever on those who love me.</li>
                <li>Whatever you do, wherever you may be, always bear this in mind: I am always aware of everything you do.</li>
                <li>I will not allow my devotees to come to harm.</li>
                <li>If a devotee is about to fall, I stretch out my hands to support him or her.</li>
                <li>I think of my people day and night. I say their names over and over.</li>
                <li>My treasury is open but no one brings carts to take from it. I say, "Dig!"but no one bothers.</li>
                <li>My people do not come to me of their own accord; it is I who seek and bring them to me.</li>
                <li>All that is seen is my form: ant, fly, prince, and pauper</li>
                <li>However distant my people may be, I draw them to me just as we pull a bird to us with a string tied to its foot.</li>
                <li>I love devotion.</li>
                <li>This body is just my house. My guru has long ago taken me away from it.</li>
                <li>Those who think that Baba is only in Shirdi have totally failed to know me.</li>
                <li>Without my grace, not even a leaf can move.</li>
                <li>I look on all with an equal eye.</li>
                <li>I cannot do anything without God's permission.</li>
                <li>God has agents everywhere and their powers are vast.</li>
                <li>I have to take care of my children day and night and give an account to God of every paisa. The wise are cheerful and content with their lot in life.</li>
                <li>If you are wealthy, be humble. Plants bend when they bear fruit.</li>
                <li>Spend money in charity; be generous and munificent but not extravagant.</li>
                <li>Get on with your worldly activities cheerfully, but do not forget God.</li>
                <li>Do not kick against the pricks of life.</li>
                <li>Whatever creature comes to you, human or otherwise, treat it with consideration.</li>
                <li>Do not be obsessed by the importance of wealth.</li>
                <li>See the divine in the human being.</li>
                <li>Do not bark at people and don't be aggressive, but put up with others' complaints.</li>
                <li>There is a wall of separation between oneself and others and between you and me. Destroy this wall!</li>
                <li>Give food to the hungry, water to the thirsty, and clothes to the naked. Then God will be pleased.</li>
                <li>Saburi (patience) ferries you across to the distant goal.</li>
                <li>The four sadhanas and the six Sastras are not necessary. Just has complete trust in your guru: it is enough.</li>
                <li>Meditate on me either with form or without form, that is pure bliss.</li>
                <li>God is not so far away. He is not in the heavens above, nor in hell below. He is always near you.</li>
                <li>If anyone gets angry with another, they wound me to the quick.</li>
                <li>If you cannot endure abuse from another, just say a simple word or two, or else leave.</li>
                <li>What do we lose by another's good fortune? Let us celebrate with them, or strive to emulate them.</li>
                <li>That should be our desire and determination.</li>
                <li>I stay by the side of whoever repeats my name.</li>
                <li>If formless meditation is difficult, then think of my form just as you see it here. With such meditation, the difference between subject and object is lost and the mind dissolves in unity.</li>
                <li>If anyone offends you do not return tit for tat.</li>
                <li>I am the slave of those who hunger and thirst after me and treat everything else as unimportant.</li>
                <li>Whoever makes me the sole object of their love, merges in me like a river in the ocean.</li>
                <li>Look to me and I will look to you.</li>
                <li>What God gives is never exhausted, what man gives never lasts.</li>
                <li>Be contented and cheerful with what comes.</li>
                <li>My devotees see everything as their Guru.</li>
                <li>Poverty is the highest of riches and a thousand times superior to a king's wealth.</li>
                <li>Put full faith in God's providence.</li>
                <li>Whoever withdraws their heart from wife, child, and parents and loves me, is my real lover.</li>
                <li>Distinguish right from wrong and be honest, upright and virtuous.</li>
                <li>Do not be obsessed by egotism, imagining that you are the cause of action: everything is due to God.</li>
                <li>If we see all actions as God's doing, we will be unattached and free from karmic bondage.</li>
                <li>Other people's acts will affect just them. It is only your own deeds that will affect you.</li>
                <li>Do not be idle: work, utter God's name and read the scriptures.</li>
                <li>If you avoid rivalry and dispute, God will protect you.</li>
                <li>People abuse their own friends and family, but it is only after performing many meritorious acts that one gets a human birth. Why then come to Shirdi and slander people?</li>
                <li>Speak the truth and truth alone.</li>
                <li>No one wants to take from me what I give abundantly.</li>
                <li>Do not fight with anyone, nor retaliate, nor slander anyone.</li>
                <li>Harsh words cannot pierce your body. If anybody speaks ill of you, just continue on unperturbed.</li>
                <li>Choose friends who will stick to you till the end, through thick and thin.</li>
                <li>Meditate on what you read and think of God.</li>
                <li>I give my devotees whatever they ask, until they ask for what I want to give.</li>
                <li>You should not stay for even one second at a place where people are speaking disrespectfully of a saint.</li>
                <li>If you do not want to part with what you have, do not lie and claim that you have nothing, but decline politely saying that circumstances or your own desires prevent you.</li>
                <li>Let us be humble.</li>
                <li>Satsang that is associating with the good is good. Dussaya, or associating with evil-minded people, is evil and must be avoided.</li>
                <li>What you sow, you reap. What you give, you get.</li>
                <li>Recognize the existence of the Moral Law as governing results. Then unswervingly follow this Law.</li>
                <li>All gods are one. There is no difference between a Hindu and a Muslim. Mosque and temple are the same.</li>
                <li>Fulfill any promises you have made.</li>
                <li>Death and life are the manifestations of God's activity. You cannot separate the two. God permeates all.</li>
                <li>Mukti is impossible for those addicted to lust.</li>
                <li>Gain and loss, birth and death are in the hands of God.</li>
                <li>When you see with your inner eye. Then you realize that you are God and not different from Him.</li>
                <li>Avoid unnecessary disputationò</li>
                <li>The giver gives, but really he is sowing the seed for later: the gift of a rich harvest.</li>
                <li>Wealth is really a means to work out dharma. If one uses it merely for personal enjoyment, it is vainly spent.</li>
                <li>To God be the praise. I am only the slave of God.</li>
                <li>God will show His love. He is kind to all.</li>
                <li>Whenever you undertake to do something, do it thoroughly or not at all.</li>
                <li>One's sin will not cease till one falls at the feet of Sadhusò</li>
                <li>Be ashamed of your hatred. Give up hatred and be quiet.</li>
                <li>The Moral Law is inexorable, so follow it, observe it, and you will reach your goal: God is the perfection of the Moral Law.</li>
                <li>I am your servants' servant.</li>
                <li>Always think of God and you will see what He does.</li>
                <li>Have faith and patience. Then I will be always with you wherever you are.</li>
            </ol>
        </div>
    </div>
</div>
<!-- Sai 100 Saying Page Content End-->