
@{
    ViewBag.Title = "saiTemple";
}

<!-- Sai Temple Page Content-->
<div class="stl-glb-ctnr afb-clear " id="temple">
    <h1>SaiBaba Temple Future Plan</h1>
    <hr class="stl-hr" />
    <div class="stl-ctnr-one stl-glb-ctnr">
        <div class="stl-glb-ctnt stl-ctnt-one">
            <div class="col-lg-6">
                <div class="stl-img-ctnr">
                    <a href="https://www.facebook.com/SaibabaSeattle" target="_blank">
                        <img class="img-responsive" src="~/pics/sai-baba-tmple-plan.jpg" alt="Saibaba Temple Plan" />
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Support Our Temple</h3>
                <hr class="stl-hr" />
                <div class="stl-tbl-ctnr afb-clear">
                    <div class="stl-table-ctnt">
                        <div class="table-responsive">
                            <table class="table stl-tbl stl-dn-tbl">
                                <thead class="stl-tbl-hd">
                                    <tr class="stl-tbl-row">
                                        <th class="stl-th">Some Text</th>
                                        <th class="stl-th">Amount</th>
                                        <th class="stl-th">Donate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="stl-tbl-row">
                                        <td>Rental Bearer</td>
                                        <td>$&nbsp;51</td>
                                        <td>
                                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                                                <input type="hidden" name="cmd" value="_s-xclick">
                                                <input type="hidden" name="hosted_button_id" value="GQHXAJT4YP4Q6">
                                                <div class="clearfix">
                                                    <button type="submit" class="btn stl-btn stl-tbl-dn-btn zoom-animate">Donate</button>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr class="stl-tbl-row">
                                        <td>New Temple construction fund</td>
                                        <td>$&nbsp;101</td>
                                        <td>
                                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                                                <input type="hidden" name="cmd" value="_s-xclick">
                                                <input type="hidden" name="hosted_button_id" value="QCFLSF425BUTQ">
                                                <div class="clearfix">
                                                    <button type="submit" class="btn stl-btn stl-tbl-dn-btn zoom-animate">Donate</button>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stl-glb-ctnr afb-clear stl-ctnr-one">
    <div class="stl-glb-ctnt stl-ctnt-one">
        <h2>Jai Sai Ram..! </h2>
        <hr class="stl-hr" />
        <p>We have been dreaming to have dedicated Shirdi Sai BABA Temple in Redmond, where we can do 4 Aartis like Shirdi and also have Dhuni, and Prasad Mandir where we can feed the poor. </p>
        <p>Currently we have the temple in rented space and our GOAL is to purchase the land and start the Temple Construction by 2018, which is 100th year of BABA Mahasamadi. </p>
        <p>We are confident that with BABA blessings, we will accomplish this. Any of your contributions will help us to make our dream come true.</p>
        <h4>BABA Blessings to your family for the generous contribution and support...!</h4>
        <p>You can do the re-occurring donations through paypal at our website <a href="http://www.saibabaseattle.com/">www.saibabaseattle.com</a></p>
        <p>Follow us : <a href="https://www.facebook.com/SaibabaSeattle" target="_blank">SaibabaSeattle facebook</a></p>
    </div>
</div>
<script>
    $("li").removeClass("active");
    $("a:contains('Sai Seattle')").parent().addClass("active")
</script>
<!-- Sai Temple Page Content End-->