
@{
    ViewBag.Title = "samadhi";
}


<!-- Sai Samadhi Page Content-->
<div class="stl-glb-ctnr afb-clear " id="samadhi">
    <h1>Samadhi</h1>
    <hr class="stl-hr" />
    <div class="stl-ctnr-four stl-glb-ctnr stl-ctnr-five">
        <div class="stl-glb-ctnt stl-ctnt-four stl-ctnt-five">
            <div class="stl-img-ctnr">
                <img class="img-bdr-shd sai-samadhi-img img-responsive" src="~/pics/sai-samadhi.jpg" alt="Saibaba Samadhi" />
            </div>
            <div class="stl-youtube-ctnr afb-clear">
                <hr class="stl-hr" />
                <object data="https://www.youtube.com/embed/uz4gic3OElQ" class="stl-youtube-two stl-brd-radius"></object>
            </div>
        </div>
    </div>
</div>
<!-- Sai Samadhi Page Content End-->
