
@{
    ViewBag.Title = "templeAddress";
}



<!--Temple Address page content-->
<div class="stl-glb-ctnr afb-clear ">
    <h1>Temple Address :</h1>
    <hr class="stl-hr" />
    <div class="stl-glb-ctnr stl-ctnr-one">
        <div class="stl-glb-ctnt">
            <div class="col-md-5">
                <div class="stl-adrs-ctnr afb-clear">
                    <address class="stl-adrs-ctnt" style="height: 358px;">
                        Address:
                        Shirdi Sai Baba Temple of Seattle
                        18109 NE 76th St, Suite #108
                        Redmond, WA - 98052
                        <div class="stl-adrs-btn-ctnr">
                            <a href="https://www.facebook.com/SaibabaSeattle" target="_blank" class="sr-icon btn stl-btn stl-fb" id="fb"> <i class="ion ion-social-facebook"></i></a>
                            <a href="mailto:admin@saibabaseattle.com" target="_top" class="sr-icon btn stl-btn stl-fb" id="mail-i"> <i class="ion ion-android-mail"></i></a>
                            <a href="https://www.youtube.com/channel/UCCtB1YmyTFIX5tQbqGfT3AQ/featured" target="_blank" class="sr-icon btn stl-btn stl-fb" id="yt"><i class="ion ion-social-youtube"></i></a>

                            <p><span class="stl-phne-icnctnr"><i class="ion ion-ios-telephone"></i></span>(425) 999-6350.</p>
                        </div>
                    </address>
                </div>
            </div>
            <div class="col-md-7">
                <div class="stl-map-ctnr afb-clear">
                    <iframe height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=18109+NE+76th+St.+Suite+108,+Redmond,+WA+98052&amp;daddr=&amp;hl=en&amp;geocode=&amp;aq=&amp;sll=31.168934,-100.076842&amp;sspn=7.910618,13.249512&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=47.671594,-122.098248&amp;spn=0.006295,0.009349&amp;output=embed"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Temple Address page content End-->