
@{
    ViewBag.Title = "templeHours";
}


<!-- Temple Hours Page Content -->
<div class="stl-glb-ctnr afb-clear stl-ctnr-three" id="hours">
    <h1>Temple Hours</h1>
    <hr class="stl-hr" />
    <div class="stl-th-ctnr clearfix">
        <div class="well stl-well clearfix">
            <div class="col-sm-6">
                <p>Kakad Aarati</p>
            </div>
            <div class="col-sm-6">
                <p><span class="stl-icon-pstn"><i class="ion ion-ios-time-outline"></i></span>&nbsp;<span>8:00 AM - 08:30 AM</span></p>
            </div>
        </div>
        <div class="well stl-well clearfix">
            <div class="col-sm-6">
                <p>Open for Dharshan</p>
            </div>
            <div class="col-sm-6">
                <p><span class="stl-icon-pstn"><i class="ion ion-ios-time-outline"></i></span>&nbsp;<span>8:30 AM - 10:00 AM</span></p>
            </div>
        </div>
        <div class="well stl-well clearfix">
            <div class="col-sm-6">
                <p>Madhyanna Aarati</p>
            </div>
            <div class="col-sm-6">
                <p><span class="stl-icon-pstn"><i class="ion ion-ios-time-outline"></i></span>&nbsp;<span>12:00 PM- 1:00 PM</span></p>
            </div>
        </div>
        <div class="well stl-well clearfix">
            <div class="col-sm-6">
                <p>Temple Will be Closed</p>
            </div>
            <div class="col-sm-6">
                <p><span class="stl-icon-pstn"><i class="ion ion-ios-time-outline"></i></span>&nbsp;<span>1:00 PM- 6:00 PM</span></p>
            </div>
        </div>
        <div class="well stl-well clearfix">
            <div class="col-sm-6">
                <p>Dhoop Aarati</p>
            </div>
            <div class="col-sm-6">
                <p><span class="stl-icon-pstn"><i class="ion ion-ios-time-outline"></i></span>&nbsp;<span>6:30 PM- 7:00 PM</span></p>
            </div>
        </div>
        <div class="well stl-well clearfix">
            <div class="col-sm-6">
                <p>Saibaba Mandir Open for Dharshan</p>
            </div>
            <div class="col-sm-6">
                <p><span class="stl-icon-pstn"><i class="ion ion-ios-time-outline"></i></span>&nbsp;<span>7:00 PM - 8:30 PM</span></p>
            </div>
        </div>
        <div class="well stl-well clearfix">
            <div class="col-sm-6">
                <p>Shej Aarati</p>
            </div>
            <div class="col-sm-6">
                <p><span class="stl-icon-pstn"><i class="ion ion-ios-time-outline"></i></span>&nbsp;<span>8:30 PM - 9:00 PM</span></p>
            </div>
        </div>
        <div class="well stl-well clearfix">
            <div class="col-sm-6">
                <p>Temple Will be Closed</p>
            </div>
            <div class="col-sm-6">
                <p><span class="stl-icon-pstn"><i class="ion ion-ios-time-outline"></i></span>&nbsp;<span>9:15 PM</span></p>
            </div>
        </div>
    </div>
    <h3>In Addition to Above, On Every Thursday we will have the below Rituals:</h3>
    <hr class="stl-hr" />
    <div class="stl-th-ctnr clearfix">
        <div class="well stl-well clearfix">
            <div class="col-sm-6">
                <p>Sai Chalisa Chanting</p>
            </div>
            <div class="col-sm-6">
                <p><span class="stl-icon-pstn"><i class="ion ion-ios-time-outline"></i></span>&nbsp;<span>12:00 PM - 12:30 PM</span></p>
            </div>
        </div>
        <div class="well stl-well clearfix">
            <div class="col-sm-6">
                <p>BABA Bhajans & Satcharitra Recital</p>
            </div>
            <div class="col-sm-6">
                <p><span class="stl-icon-pstn"><i class="ion ion-ios-time-outline"></i></span>&nbsp;<span>7:00 PM - 8:00 PM</span></p>
            </div>
        </div>
        <div class="well stl-well clearfix">
            <div class="col-sm-6">
                <p>Panchamrutha Abhishekam to BABA</p>
            </div>
            <div class="col-sm-6">
                <p><span class="stl-icon-pstn"><i class="ion ion-ios-time-outline"></i></span>&nbsp;<span>7:15 PM</span></p>
            </div>
        </div>
        <div class="well stl-well clearfix">
            <div class="col-sm-6">
                <p>Pallaki Seva to BABA</p>
            </div>
            <div class="col-sm-6">
                <p><span class="stl-icon-pstn"><i class="ion ion-ios-time-outline"></i></span>&nbsp;<span>8:15 PM - 8:30 PM</span></p>
            </div>
        </div>
    </div>
    @*<div class="stl-tbl-ctnr afb-clear">
        <div class="stl-table-ctnt">
            <div class="table-responsive">
                <table class="table stl-tbl">
                    <thead class="stl-tbl-hd">
                        <tr class="stl-tbl-row">
                            <th class="stl-th stl-td-1">#</th>
                            <th class="stl-th stl-td-2">Time</th>
                            <th class="stl-th stl-td-3">Programme</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="stl-tbl-row">
                            <td class="stl-td-1">01</td>
                            <td class="stl-td-2">12:00 PM - 12:30 PM</td>
                            <td class="stl-td-3">Sai Chalisa Chanting</td>
                        </tr>
                        <tr class="stl-tbl-row">
                            <td class="stl-td-1">02</td>
                            <td class="stl-td-2">7:00 PM - 8:00 PM</td>
                            <td class="stl-td-3">BABA Bhajans & Satcharitra Recital</td>
                        </tr>
                        <tr class="stl-tbl-row">
                            <td class="stl-td-1">03</td>
                            <td class="stl-td-2">7:15 PM</td>
                            <td class="stl-td-3">Panchamrutha Abhishekam to BABA</td>
                        </tr>
                        <tr class="stl-tbl-row">
                            <td class="stl-td-1">04</td>
                            <td class="stl-td-2">8:15 PM - 8:30 PM</td>
                            <td class="stl-td-3">Pallaki Seva to BABA</td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>*@
</div>
<!-- Temple Hours Page Content End -->
