
@{
    ViewBag.Title = "videoGallery";
}

<!--Video Gallery page content -->
<div class="stl-glb-ctnr afb-clear" id="vGallery">
    <h1>Video Gallery</h1>
    <hr class="stl-hr" />
</div>
<div class="stl-glb-ctnr stl-ctnr-one">
    <div class="col-sm-12 stl-flex-wrap">
        <div class="col-sm-6 stl-flex-50" id="lightgallery">
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-1.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-1.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-2.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-2.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-3.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-3.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-4.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-4.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-5.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-5.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-6.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-6.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-7.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-7.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-8.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-8.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-9.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-9.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-10.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-10.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-11.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-11.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-12.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-12.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-13.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-13.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-14.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-14.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-15.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-15.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-16.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-16.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-36.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-36.jpg" />
            </a>
        </div>
        <div class="col-sm-6 stl-flex-50" id="aniimated-thumbnials">
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-17.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-17.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-18.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-18.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-19.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-19.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-20.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-20.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-21.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-21.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-22.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-22.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-23.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-23.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-24.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-24.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-25.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-25.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-26.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-26.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-27.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-27.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-28.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-28.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-29.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-29.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-30.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-30.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-31.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-31.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-32.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-32.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-33.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-33.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-34.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-34.jpg" />
            </a>
            <a class="thumbnail" rel="ligthbox" href="~/pics/stl-gl-35.jpg">
                <img class="img-responsive" alt="" src="~/pics/stl-gl-35.jpg" />
            </a>
        </div>
    </div>
</div>


@*<div class="stl-glb-ctnr afb-clear stl-ctnr-one">
        <div class="stl-glb-ctnt">
            <div id="video-gallery">
                <ul id="video-player-param" class="list-unstyled row">
                    <li class="col-xs-6 col-sm-4 col-md-3 video" data-src="https://www.youtube.com/watch?v=meBbDqAXago" data-sub-html="<h4>Rollin`Wild - Short Funny Animated Clips - Film Academy BW</h4>">
                        <a href="">
                            <img class="img-responsive" src="../static/img/thumb-v-y-1.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/play-button.png">
                            </div>
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 video" data-src="https://www.youtube.com/watch?v=Pq9yPrLWMyU" data-sub-html="<h4>CGI Animated Short HD: Student Academy Award Winning 'PeckPocketed' by Kevin Herron</h4>">
                        <a href="">
                            <img class="img-responsive" src="../static/img/thumb-v-y-2.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/play-button.png">
                            </div>
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 video" data-src="https://vimeo.com/1084537" data-sub-html="<h4>Big Buck Bunny</h4>">
                        <a href="">
                            <img class="img-responsive" src="../static/img/thumb-v-v-1.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/play-button.png">
                            </div>
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 video" data-src="https://vimeo.com/35451452" data-sub-html="<h4>Ninja vs Pirate</h4>">
                        <a href="">
                            <img class="img-responsive" src="../static/img/thumb-v-v-2.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/play-button.png">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>*@
<!--Video Gallery page content End-->
