
@model System.Data.DataTable
@using System.Data;

@*<p>raja</p>*@

@*@foreach (DataRow row in Model.Rows)

{
   
    <p>
        @foreach (DataColumn col in Model.Columns)
        {
            <span>@row[col.ColumnName]</span>
        }
    </p>
}*@
