<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Version" value="4.2.32"/>
    <add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Weight.Mdb;Jet OLEDB:Database Password=SDI08"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ListViewFontType" value="DigifaceWide"/>
    <add key="LineNumber" value="1"/>
    <add key="DelayTiming" value="2000"/>
    <add key="PortWeightTime" value="1"/>
    <add key="PrintPreviewIsEnable" value="false"/>
    <add key="FirstPageSize" value="3000"/>
    <add key="SecondPageSize" value="3000"/>
    <add key="FontName" value="Consolas"/>  <!--verdana or Calibri or tahoma font  Consolas-->
    <add key ="Mode" value ="-4"/>
    <add key="Weightlength" value="6"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
