@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    GANNET TECHNOLOGIES<br />
    #1, Narasimhan Street,Nagalkeni<br />
    Chrompet,Chennai-600044<br />
    TamilNadu, India<br />
    <abbr title="Phone">P:</abbr>
    +91-9080160117
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@gannettech.com">support@gannettech.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:gannettch@gmail.com">gannettch@gmail.com</a>
</address>