################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projects/NetProject/WebApplication/SelfAssessment/SelfAssessment/Views/SubSector/State
