@{
    ViewBag.Title = "Login";
}

<div class="row contact-info">

    <div class="col-md-5" id="#intro">
        <div class="form">

            <div class="section-header">
                <h3>Login </h3>
                <p style="color:red; font-family:sans-serif">@ViewBag.Text</p>
            </div>

            <form action="" method="post" role="form" class="">

                <div class="form-group ">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email">
                    <div class="validation"></div>
                </div>

                <div class="form-group">
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password" data-rule="minlen:8" data-msg="Please enter at least 8 chars">
                    <div class="validation"></div>
                </div>

                <div class="text-right"><button id="btnLogin" type="submit">LOGIN</button><!--&nbsp;&nbsp;<button type="reset">Cancel</button>--></div>
                <P>&nbsp;</P>
                <p><b><a href="~/User/ForGetPassword">Forget Your Password ?</a></b></p>
            </form>
        </div>
    </div>
    <div style="border-right:solid 1px #ddd; margin:0px 40px 0px 45px; text-align:center "></div>
    <div class="col-md-4">
        <div class="form">
            
           <p align="justify">
               <img src="~/img/Login-side.jpg" alt="login"/>
            </p>

        </div>
    </div>
</div>

<script src="~/admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
