@*@model SelfAssessment.Models.UILogin*@
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div class="row contact-info">

    <div class="col-md-5">
        <div class="form">

            <div class="section-header">
                <h3>Login </h3>
                <p>Sed ut perspiciatis unde omnis e</p>
            </div>

            <form action="" method="post" role="form" class="">

                <div class="form-group ">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email">
                    <div class="validation"></div>
                </div>

                <div class="form-group">
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password" data-rule="minlen:8" data-msg="Please enter at least 8 chars">
                    <div class="validation"></div>
                </div>

                <div class="text-right"><button id="btnLogin" type="submit">LOGIN</button><!--&nbsp;&nbsp;<button type="reset">Cancel</button>--></div>
                <P>&nbsp;</P>
                <p><b><a href="~/User/ForGetPassword">Forget Your Password ?</a></b></p>
            </form>
        </div>
    </div>
    <div style="border-right:solid 1px #ddd; margin:0px 40px 0px 45px; text-align:center "></div>
    <div class="col-md-4">
        <div class="form">
            <div class="section-header">
                <h3> </h3>

            </div>
            <p align="justify">
                Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
            </p>

        </div>
    </div>
</div>

<script src="~/admin/assets/js/vendor/jquery-2.1.4.min.js"></script>

@*<script type="text/javascript">
    $(document).ready(function () {

        $('#btnLogin').click(function () {

            var modle = {};

            model = {
                UserName: $('#email').val(),
                UserPwd: $('#password').val()
            };
          
            var url = "/User/Login";

            $.ajax({
                type: "POST",
                data: JSON.stringify(model),
                url: url,
                contentType: "application/json"
            }).done(function (res) {
                $('#email').val('');
                $('#password').val('');              
            });

        });

    });

</script>*@

