@{
    ViewBag.Title = "Login";
}

<div class="row contact-info" id="#intro">
    <div class="col-md-5">
            <div class="section-header">
                <h3>Logout </h3>
                <p>You Successfully Logged Out. If you want to Login again.....</p>
            </div>           
            <p><b><a href="~/User/Login">Login ?</a></b></p>
     </div>   
    <div style="border-right:solid 1px #ddd; margin:0px 40px 0px 45px; text-align:center "></div>
    <div class="col-md-4">
        <div class="form">
            <p align="justify">
                <img src="~/img/Login-side.jpg" alt="login" />
            </p>

        </div>
    </div>
</div>
