@{
    ViewBag.Title = "Login";
}

<div class="row contact-info">
    <div class="col-md-5">
            <div class="section-header">
                <h3>Logout </h3>
                <p>You Successfully Logged Out. If you want to Login again.....</p>
            </div>           
            <p><b><a href="~/User/Login">Login ?</a></b></p>
     </div>   
    <div style="border-right:solid 1px #ddd; margin:0px 40px 0px 45px; text-align:center "></div>
    <div class="col-md-4">
        <div class="form">
            <div class="section-header">
                <h3> </h3>

            </div>
            <p align="justify">
                Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
            </p>

        </div>
    </div>
</div>
