@{
    Layout = null;
}

<h2>Success</h2>

<div class="row contact-info">

    <div class="col-md-5">
        <div class="form">

            <div class="section-header">
                <h3>Successfully Created </h3>
                <p>We sent the credential to your mentioned Email-Id.</p>
            </div>           
        </div>
    </div>
    <div style="border-right:solid 1px #ddd; margin:0px 40px 0px 45px; text-align:center "></div>
</div>

