<div class="row contact-info">

    <div class="col-md-7">
        <div class="form">

            <div class="section-header">
                <h3>Thank you for registering to the CII Online Self-Assessment System for Business Excellence </h3>
                <p>Your profile will be activated by the Administrator & the login credentials will be communicated soon!</p>
            </div>


            <div id="sendmessage">Thank you!</div>
        </div>
    </div>
    <div style="border-right:solid 1px #ddd; margin:0px 40px 0px 45px; text-align:center "></div>
</div>

