
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy</title>
    <link rel="stylesheet" href="~/css/linearicons.css">=
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <div>
        <section class="project-area section-gap" id="about">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 pb-80 header-text">
                        <h4> Privacy Notice <br /> Effective May 1, 2019 <br /> U.S. Privacy Notice </h4>
                        <p>
                            Saibaba Seattle has been involved in community services helping the needy.  This Privacy Notice explains how information is collected, used, 
                            and disclosed from or about you by Saibaba Seattle (“we”, “us”, or “our”) when you visit  5k Saibaba Seattle’s website. Activities on the 
                            Site are directed toward U.S. residents. </p>
                            <h4>Information We Collect</h4>
                            <h4>Donation or Purchase Information</h4>. 
                           <p>
                            When you donate, register, or purchase items from the Site, we collect personal information you provide, such as your name, address, telephone number, email address,
                               shipping address, transaction history, and payment information. If you dedicate your donation through a memorial or honor donation and request a memorial 
                               or honor donation notice be sent, or send a gift to someone, we will collect the recipient’s information, including the recipient’s name, 
                               address, telephone number, and email address.. We may also collect additional information about you from other sources and combine it with 
                               information you voluntarily provide to us. </p>
                           
                               <h4>Email Address.</h4>
                               <p>
                                   We collect and store your email address if you contact us directly via email or if you provide your email address to us through the Site. 
                                   If you opt out of future messaging, we will store your name and email address for the purpose of maintaining a “do not contact” list. </p>
                                   <h4>Survey Information.</h4> 
                                    <p>We may occasionally conduct voluntary surveys on the Site. If you choose to take one of our voluntary surveys, we may collect information 
                                    related to you and your responses.</p>
                                   <h4>Technical Information.</h4> 
                                   <p>
                                       This Site collects information such as the visitor’s domain name, Site traffic patterns, server usage statistics,
                                       and device and operating system information. We may use cookies or similar technology to collect such information for advertising and other purposes.
                                       See the <b>Advertising</b>  section of this Privacy Notice to learn more about the use of this information and the choices available to you.
                                   </p>
                                   <h4>How We Use and Share Information</h4>
                                    <p>
                                   We may use the information you provide for any lawful purpose, including the following:
                                   •	To communicate with you, including to share information about services or products you have requested, to request donations, or to inform you of promotional offers that may be of interest;
                                   •	To process your donations and orders, including to notify you of your order status, provide a receipt, and ship your products;
                                   •	To improve and personalize the Site, including to improve and personalize the performance, content, and layout of our web pages;
                                   •	To help us engage with persons who may wish to donate to Saibaba Seattle;
                                   •	To protect the rights of Saibaba Seattle or others;
                                   •	To comply with the law and to maintain the security of our Sites; and/or
                                   •	As otherwise disclosed at the time of collection or use.
                                        <br />
                                        We do not rent, share or sell your personal information to outside marketers. We may share your information when required by law, including pursuant to a subpoena, 
                                        court order, governmental inquiry, or other legal process or as necessary to protect our rights, users, donors and services.  We may share information that 
                                        has been de-identified or aggregated, or any other technical information, without limitation. 
                                    </p>
                                    <h4> Advertising & Analytics</h4>
                                    <p>
                                   We may use third parties (e.g., ad networks and ad servers) to deliver relevant content and advertising (including ads for Saibaba Seattle) on the Site, as well as on other websites you visit and other applications you use. These third parties may place or access cookies or other tracking technologies on your device to collect information about your use of the Site and other sites and apps over time and across devices you use in order to serve these tailored advertisements.
                                   We neither have access to, nor does this Privacy Notice govern, the use of cookies or other tracking technologies that may be placed on your device 
                                   by any non-affiliated third-parties. Third parties that use these technologies may offer you a way to opt out of ad targeting as described below. 
                                   We may use Google Analytics and other third-party services to improve the performance of the Site and for analytics and marketing purposes. 
                                   For more information about how Google Analytics collects and uses data when you use our Site, visit <a href="http://www.google.com/policies/privacy/partners/" target="_blank">Partners</a>, 
                                   and to opt out of Google Analytics, visit <a href="https://tools.google.com/dlpage/gaoptout/" target="_blank">Gaoptout</a> </p>

                                    <h4>Third-Party Links</h4>
                                    <p>
                                    The Site provides links to third-party websites or apps, including our social media pages. We do not control the privacy and security practices of sites not 
                                    owned by Saibaba Seattle. You should review the privacy notices of other websites or apps that you use to learn about their data practices.
                                   This Site may also include integrated social media tools or “plug-ins”, such as social networking, photo sharing, and video streaming tools 
                                    offered by third parties. If you use these tools to share personal information or you otherwise interact with social media features on the Site, 
                                    those social media companies may collect information about you and may use and share such information in accordance with your account settings, 
                                    including by sharing such information with the general public.  Your interactions with third-party social media companies and the use of their 
                                    features are governed by the privacy policies of the social media companies that provide those features. We encourage you to carefully 
                                    read the privacy notices of any social media accounts you create and use. </p>
                                    <h4>Changes to our Privacy Notice</h4>
                                    <p>
                                   Any changes to our Privacy Notice will be posted on this page. Any changes will become effective when posted unless indicated otherwise. 
                                    We encourage you to visit this page periodically to learn of updates. </p>
                                    <h4>Your Choices</h4>
                                    <p>
                                        To request that Saibaba Seattle discontinue contact with you, please contact us at: <br />
                                        Saibaba Seattle <br />
                                        Email ID : admin@saibabaseattle.com <br />
                                        Phone    : (425) 999-6350
                                    </p>
                                    <h4>Contact Us</h4>
                                    <p>
                                        If you have any questions about this Privacy Notice, please contact us at: <br />
                                        Saibaba Seattle <br />
                                        Email ID : admin@saibabaseattle.com  <br />
                                        Phone    : (425) 999-6350
                                    </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
