
@{
    ViewBag.Title = "AssessmentReport";
}

<h2>AssessmentReport</h2>

<div class="content mt-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Assessment Name</strong>
                <div class="user-area dropdown float-right">

                    <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="ti-export"></span>&nbsp; Export
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#"><i class="ti-file"></i> Export AS PDF</a>
                        <a class="nav-link" href="#"><i class="ti-microsoft"></i> Export AS Excel</a>
                    </div>
                </div>
            </div>
            <div class="card-body card-block">
                @*<form action="" method="post" class="form-horizontal">*@
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-password" class=" form-control-label">Levels</label></div>
                    <div class="col-12 col-md-4">
                        <select class="form-control" id="selectValue">
                            <option value="0">-Select-</option>
                            <option value="1" selected>Level 1</option>
                            <option value="2">Level 2</option>
                            <option value="3">Level 3</option>

                        </select>
                    </div>

                </div>
                <div>
                    <div class="row form-group">
                        <div class="col col-md-2">&nbsp;</div>
                        <div class="col-12 col-md-4">
                            <button id="btnGo" type="button" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Go
                            </button>
                            <button type="reset" class="btn btn-danger btn-sm">
                                <i class="fa fa-ban"></i> Reset
                            </button>
                        </div>
                    </div>
                </div>
                @*</form>*@
            </div>

        </div>
        <div>&nbsp;</div>
    </div>
    <!--/.col-->

    <div id="LoadLevel1Graph">
        @{ Html.RenderPartial("LoadLevel1GraphPartial"); }
    </div>

    <div id="LoadLevel2Graph">
        @{ Html.RenderPartial("LoadLevel2GraphPartial"); }
    </div>

    <div id="LoadLevel3Graph">
        @{ Html.RenderPartial("LoadLevel3GraphPartial"); }
    </div>
</div>

<script src="~/Admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/Admin/assets/js/lib/chart-js/Chart.bundle.js"></script>
<script src="~/Admin/assets/js/lib/chart-js/chartjs-init.js"></script>
<script src="~/Admin/assets/js/lib/chart-js/chartjs-init2.js"></script>
<script src="~/Admin/assets/js/lib/chart-js/chartjs-init3.js"></script>
<script src="~/Admin/assets/js/popper.min.js"></script>
<script src="~/Admin/assets/js/plugins.js"></script>

<!--  Chart js -->



<script type="text/javascript">
    $(document).ready(function () {
        $("#LoadLevel1Graph").hide(); 
        $("#LoadLevel2Graph").hide();       
        $("#LoadLevel3Graph").hide();       

        $("#btnGo").click(function () {
            var selectValue = $('#selectValue').val();           
            if (selectValue == 1) {
                $("#LoadLevel1Graph").show();
                $("#LoadLevel3Graph").hide();
                $("#LoadLevel2Graph").hide();
            }
            if (selectValue == 2) {
                $("#LoadLevel2Graph").show();
                $("#LoadLevel1Graph").hide();
                $("#LoadLevel3Graph").hide();
            }
            if (selectValue == 3) {
                $("#LoadLevel3Graph").show();
                $("#LoadLevel2Graph").hide();
                $("#LoadLevel1Graph").hide();
            }
                
        });
    });
</script>
