
@{
    ViewBag.Title = "ChangePassword";
}

<div class="content mt-3">

    <div class="card">
        <div class="card-header">
            <strong>Settings</strong>
        </div>
        <div class="card-body card-block">
            <form action="ChangePassword" method="post" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-password" class=" form-control-label">Old Password</label></div>
                    <div class="col-12 col-md-4"><input type="password" id="OldPassword" name="hf-password" placeholder="Enter Old Password..." class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-password" class=" form-control-label">New Password</label></div>
                    <div class="col-12 col-md-4"><input type="password" id="NewPassword" name="hf-password" placeholder="Enter New Password..." class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-password" class=" form-control-label">Retype New Password</label></div>
                    <div class="col-12 col-md-4"><input type="password" id="RetypeNewPassword" name="hf-password" placeholder="Retype Password..." class="form-control"></div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" id="btnChangePassword"  class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Reset
            </button>
        </div>
    </div>
</div>

<script src="~/admin/assets/js/vendor/jquery-2.1.4.min.js"></script>

@*<script src="~/admin/assets/js/popper.min.js"></script>
    <script src="~/admin/assets/js/plugins.js"></script>
    <script src="~/admin/assets/js/main.js"></script>*@


@*<script src="~/admin/assets/js/lib/chart-js/Chart.bundle.js"></script>*@
@*<script src="~/admin/assets/js/dashboard.js"></script>*@
@*<script src="~/admin/assets/js/widgets.js"></script>*@


<script type="text/javascript">
    $(document).ready(function () {
       $('#UserId').val('5');

        $('#btnChangePassword').click(function () {          

            var modle = {};

            model = {
                OldPassword: $('#OldPassword').val(),
                NewPassword: $('#NewPassword').val(),
                UserId: $('#UserId').val()
            };

            var url = "/ManageUser/ChangePassword";

            $.ajax({
                type: "POST",
                data: JSON.stringify(model),
                url: url,
                contentType: "application/json"
            }).done(function (res) {
                alert('hellow');
            });

        });

    });

</script>
