

<div class="content mt-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Assessment Name</strong>
                <div class="user-area dropdown float-right">

                    <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="ti-export"></span>&nbsp; Export
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#"><i class="ti-file"></i> Export AS PDF</a>
                        <a class="nav-link" href="#"><i class="ti-microsoft"></i> Export AS Excel</a>
                    </div>
                </div>

            </div>
            <div class="card-body card-block">
                @*<form action="" method="post" class="form-horizontal">*@
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-password" class=" form-control-label">Levels</label></div>
                    <div class="col-12 col-md-4">
                        <select class="form-control" id="selectValue">
                            <option value="0">-Select-</option>
                            <option value="Level 1" selected>Level 1</option>
                            <option value="Level 2">Level 2</option>
                            <option value="Level 3">Level 3</option>

                        </select>
                    </div>

                </div>

                <div class="row form-group">
                    <div class="col ">
                        <div class="col col-md-2">&nbsp;</div>
                        <div class="col-12 col-md-4">
                            <button id="btnGo" type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Go
                            </button>
                            <button type="reset" class="btn btn-danger btn-sm">
                                <i class="fa fa-ban"></i> Reset
                            </button>
                        </div>
                    </div>
                </div>
                @*</form>*@
            </div>

        </div>
    </div>
    <div>&nbsp;</div>
    <div id="LoadGroup">
    </div>
</div>



<script src="~/Admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/Admin/assets/js/popper.min.js"></script>
<script src="~/Admin/assets/js/plugins.js"></script>


<script type="text/javascript">
    function formSubmitWithAction(action) {
        document.getElementById("hdnaction").value = action;
        var s = $('#myForm').serializeArray()
        var model = {
            hdnaction: action,
            QInfo: s[2]['value']
        };

        $.ajax({
            url: API.CustomerReport(),
            type: "POST",
            data: JSON.stringify(model),
            contentType: 'application/json',
            success: function (response) {
                $('#LoadGroup').html(response);
            },
            error: function (er) { }
        });
    }
    $(document).ready(function () {
        $("#btnGo").click(function () {
            var selectValue = $('#selectValue').val();
            var url = API.UserGetGroupDetails() + selectValue;
            $.get(url, function (data) {
                $('#LoadGroup').html(data);
            });
        });
    });
</script>