

<div class="contact-info">
    <div class="jumbotron" style="background: none;">
        <h1 class="display-4">Thank You! You have successfully completed the Self – Assessment</h1>
        <p class="lead">@Html.Raw(HttpUtility.HtmlDecode(ViewBag.EndMessage)).</p>
        <hr class="my-4">
        <p>You can access the <a class="btn btn-primary btn-lg" href="#" role="button">Individual & Summary reports</a></p>
    </div>
</div>

<script src="~/admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/admin/assets/js/popper.min.js"></script>
<script src="~/admin/assets/js/plugins.js"></script>

