

<div class="contact-info">

    <div class="jumbotron" style="background: none;">
        <h1 class="display-4">Sucessfully Completed the Assessment</h1>
        <p class="lead">@Html.Raw(HttpUtility.HtmlDecode(ViewBag.EndMessage)).</p>
        <hr class="my-4">
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">View Report</a>
    </div>
</div>

<script src="~/admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/admin/assets/js/popper.min.js"></script>
<script src="~/admin/assets/js/plugins.js"></script>

