

<div class="row contact-info">
    <div class="col-md-5">
        <p>@Html.Raw(HttpUtility.HtmlDecode(ViewBag.EndMessage))</p>
    </div>
</div>

<script src="~/admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/admin/assets/js/popper.min.js"></script>
<script src="~/admin/assets/js/plugins.js"></script>

