<div>
    <div>
        <div class="">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3">Organization Score (%) Result </h4>
                    <canvas id="barChart21"></canvas>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3">Final Score (%) Result </h4>
                    <canvas id="barChart23"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">  &nbsp;</div>
    <div>
        <div class="">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3">SectorWise Score (%) Result </h4>
                    <canvas id="barChart24"></canvas>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3">SectorWise Final Score (%) Result </h4>
                    <canvas id="barChart25"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

