<div>
    <div>
        <div id="1" class="">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3">Organization Score (%) Result </h4>
                    <canvas id="barChart1"></canvas>
                </div>
            </div>
        </div>
        <div id="2" class="">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3">Final Score (%) Result </h4>
                    <canvas id="barChart3"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">  &nbsp;</div>
    <div>
        <div id="3" class="">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3">SectorWise Score (%) Result </h4>
                    <canvas id="barChart4"></canvas>
                </div>
            </div>
        </div>
        <div id="4" class="">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3">SectorWise Final Score (%) Result </h4>
                    <canvas id="barChart5"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

