@model SelfAssessment.Business.GroupQuizModel
@{
    ViewBag.Title = "ShowGroupResults";
}


<h2>ShowGroupResults</h2>

<h4>your total score is @Model.Score</h4>


<script src="~/Admin/assets/js/vendor/jquery-2.1.4.min.js"></script>