
<div class="content mt-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h2>All questions answered</h2>
                <br/>
                <p>You have answered all the mandatory questions. click submit to complete the assessment.</p>
            </div>
            <div class="col-md-12" style="margin-top:5px; padding:10px;">
                <span>
                    <button id="btnYes" type="button" class="btn btn-primary" style="margin-right:10px">Submit</button>
                </span>
                <span>
                    <button id="btnNo" type="button" class="btn btn-secondary">Go Back</button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="ti-export"></span>&nbsp; Export
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="~/ManageUser/PdfExport"><i class="ti-file"></i> Export AS PDF</a>
                        <a class="nav-link" href="~/ManageUser/CsvExport"><i class="ti-microsoft"></i> Export AS Excel</a>
                    </div>
                </div>
            </div>           
        </div>
     </div>
</div>

<script src="~/admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/admin/assets/js/popper.min.js"></script>
<script src="~/admin/assets/js/plugins.js"></script>

<script type="text/javascript">

    //function Export(type) {
    //    alert(type);

    

    $(document).ready(function () {
        $('#btnYes').click(function () {


            $.ajax({
                type: "GET",
                url: API.CompleteLevel(),
                contentType: "application/json"
            }).done(function (res) {
                location.href = API.UserEndScreen();
            });
        });

        $('#btnNo').click(function () {
            var origin = '@ViewBag.Origin';
            var routingUrl = '';
            if (origin == 'Group') {
                routingUrl = API.UserGroupQuizSubmit() + "Result";
            }
            else {
                routingUrl = API.UserQuestionQuizSubmit() + "Result";
            }
            location.href = routingUrl;
        });
    });
</script>
