
@{
    ViewBag.Title = "CustomerDetails";
}

<h2>CustomerDetails</h2>

<div class="content mt-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">CUSTOMER DETAILS</strong>
            </div>


            <div class="card-body">


                <div class="default-tab">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-question" role="tab" aria-controls="nav-level1" aria-selected="true">Assessment Questions</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-graph" role="tab" aria-controls="nav-level2" aria-selected="false">Assessment Graph</a>

                        </div>
                    </nav>
                    <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-question" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="row form-group">

                                <div class="col-4 col-md-4"><h2>JOY LUEEU</h2></div>

                                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Email</label></div>
                                <div class="col-3 col-md-3"> : <b>joy@mail.com</b></div>

                                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Desgination</label></div>
                                <div class="col-3 col-md-3"><b> : Manager</b></div>

                            </div>

                            <div class="row form-group">
                                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Address</label></div>
                                <div class="col-3 col-md-3"><label for="hf-password" class=" form-control-label"><b> : church street, Chennai</b></label></div>

                                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Mobile </label></div>
                                <div class="col-3 col-md-3"><b> : 9856231475</b></div>

                                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Service</label></div>
                                <div class="col-3 col-md-3"><b> : Assessment</b></div>

                            </div>

                            <div class="row form-group">
                                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">City</label></div>
                                <div class="col-3 col-md-3"><label for="hf-password" class=" form-control-label"><b> : Chennai</b></label></div>

                                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">State </label></div>
                                <div class="col-3 col-md-3"><b> : Tamilnadu</b></div>
                                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Sector </label></div>
                                <div class="col-3 col-md-3"><b> : Sector</b></div>

                            </div>
                            <div class="row form-group">
                                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Sub Sector</label></div>
                                <div class="col-3 col-md-3"><label for="hf-password" class=" form-control-label"><b> : Sub Sector</b></label></div>

                                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Revenue </label></div>
                                <div class="col-3 col-md-3"><b> : Tamilnadu</b></div>
                                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Revenue </label></div>
                                <div class="col-3 col-md-3"><b> : Sector</b></div>

                            </div>


                            <div>

                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">

                                            <div class="user-area dropdown float-right">

                                                <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="ti-export"></span>&nbsp; Export
                                                </a>

                                                <div class="user-menu dropdown-menu">
                                                    <a class="nav-link" href="#"><i class="ti-file"></i> Export AS PDF</a>
                                                    <a class="nav-link" href="#"><i class="ti-microsoft"></i> Export AS Excel</a>
                                                </div>
                                            </div>

                                            <p>
                                                No Of Group : <b>9 &nbsp;</b> | &nbsp; No Of Question : <b>65 &nbsp;</b> | &nbsp;No Of Question Answered: <b>55</b>


                                            </p>
                                            <hr>
                                            <h4 class="mb-3 text-info">Group 1 </h4>

                                            <div class="row">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item" style="border:0px">
                                                        <b>1. Is the 3TG internationally added to your product</b>
                                                        <div>
                                                            <p>
                                                                <div class=" form-check">
                                                                    <label for="inline-radio1" class="form-check-label ">
                                                                        <input type="radio" id="inline-radio1" name="inline-radios2" disabled value="option1" class="form-check-input">One Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product
                                                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <label for="inline-radio2" class="form-check-label ">
                                                                        <input type="radio" id="inline-radio2" name="inline-radios2" disabled checked value="option2" class="form-check-input">Two Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product
                                                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <label for="inline-radio3" class="form-check-label ">
                                                                        <input type="radio" id="inline-radio3" name="inline-radios2" disabled value="option3" class="form-check-input">Three Is the 3TG internationally added to your product Is the 3TG internationally added to your productIs the 3TG internationally added to your productIs the 3TG internationally added to your product Is the 3TG internationally added to your product
                                                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <label for="inline-radio3" class="form-check-label ">
                                                                        <input type="radio" id="inline-radio3" name="inline-radios2" disabled value="option3" class="form-check-input">Four your product Is the 3TG internationally added to your productIs the 3TG internationally added to your productIs the 3TG internationally added to your product Is the 3TG internationally added to your product
                                                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <label for="inline-radio3" class="form-check-label ">
                                                                        <input type="radio" id="inline-radio3" name="inline-radios2" disabled value="option3" class="form-check-input">Five your product Is the 3TG internationally added to your productIs the 3TG internationally added to your productIs the 3TG internationally added to your product Is the 3TG internationally added to your product
                                                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                </div>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>2. Do you any of the smartlers to your product</b>
                                                        <div>
                                                            <p>
                                                                <div class=" form-check">
                                                                    <label for="inline-radio1" class="form-check-label ">
                                                                        <input type="radio" id="inline-radio1" name="inline-radios1" disabled value="option1" class="form-check-input">One Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product
                                                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <label for="inline-radio2" class="form-check-label ">
                                                                        <input type="radio" id="inline-radio2" name="inline-radios1" disabled value="option2" class="form-check-input">Two Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product
                                                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <label for="inline-radio3" class="form-check-label ">
                                                                        <input type="radio" id="inline-radio3" name="inline-radios1" disabled checked value="option3" class="form-check-input">Three Is the 3TG internationally added to your product Is the 3TG internationally added to your productIs the 3TG internationally added to your productIs the 3TG internationally added to your product Is the 3TG internationally added to your product
                                                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <label for="inline-radio3" class="form-check-label ">
                                                                        <input type="radio" id="inline-radio4" name="inline-radios1" disabled value="option3" class="form-check-input">Four your product Is the 3TG internationally added to your productIs the 3TG internationally added to your productIs the 3TG internationally added to your product Is the 3TG internationally added to your product
                                                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <label for="inline-radio3" class="form-check-label ">
                                                                        <input type="radio" id="inline-radio5" name="inline-radios1" disabled value="option3" class="form-check-input">Five your product Is the 3TG internationally added to your productIs the 3TG internationally added to your productIs the 3TG internationally added to your product Is the 3TG internationally added to your product
                                                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                </div>
                                                            </p>
                                                        </div>
                                                    </li>


                                                    <li class="list-group-item">
                                                        <b>3. Is the 3TG internationally added to your product</b>
                                                        <div>
                                                            <p>
                                                                <div class=" form-check">
                                                                    <label for="inline-radio1" class="form-check-label ">
                                                                        <input type="radio" id="inline-radio1" name="inline-radios" disabled checked value="option1" class="form-check-input">One Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product
                                                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <label for="inline-radio2" class="form-check-label ">
                                                                        <input type="radio" id="inline-radio2" name="inline-radios" disabled value="option2" class="form-check-input">Two Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product Is the 3TG internationally added to your product
                                                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <label for="inline-radio3" class="form-check-label ">
                                                                        <input type="radio" id="inline-radio3" name="inline-radios" disabled value="option3" class="form-check-input">Three Is the 3TG internationally added to your product Is the 3TG internationally added to your productIs the 3TG internationally added to your productIs the 3TG internationally added to your product Is the 3TG internationally added to your product
                                                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <label for="inline-radio3" class="form-check-label ">
                                                                        <input type="radio" id="inline-radio4" name="inline-radios" disabled value="option3" class="form-check-input">Four your product Is the 3TG internationally added to your productIs the 3TG internationally added to your productIs the 3TG internationally added to your product Is the 3TG internationally added to your product
                                                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <label for="inline-radio3" class="form-check-label ">
                                                                        <input type="radio" id="inline-radio5" name="inline-radios" disabled value="option3" class="form-check-input">Five your product Is the 3TG internationally added to your productIs the 3TG internationally added to your productIs the 3TG internationally added to your product Is the 3TG internationally added to your product
                                                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                </div>
                                                            </p>
                                                        </div>
                                                    </li>

                                                </ul>

                                                <div class="row col-md-12" style="margin-top:5px;">
                                                    <span>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <input class="btn btn-success" type="button" value="<< PRV ">
                                                    </span>
                                                    <span class="ml-auto"><input class="btn btn-success" type="button" value="Next >>"></span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-graph" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div>
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="mb-3">Organization Score (%) Result </h4>
                                            <canvas id="barChart1"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="mb-3">Final Score (%) Result </h4>
                                                <canvas id="barChart3"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">  &nbsp;</div>

                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="mb-3">Manufacture Score (%) Result </h4>
                                            <canvas id="barChart4"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="mb-3">Manufacture Final Score (%) Result </h4>
                                            <canvas id="barChart5"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>





                <!-- .animated -->
            </div><!-- .content -->


        </div><!-- /#right-panel -->
        <!-- Right Panel -->
    </div>
    </div>

        <script src="~/Admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="~/Admin/assets/js/popper.min.js"></script>
        <script src="~/Admin/assets/js/plugins.js"></script>
        <script src="~/Admin/assets/js/main.js"></script>


        <!--  Chart js -->
        <script src="~/Admin/assets/js/lib/chart-js/Chart.bundle.js"></script>
        <script src="~/Admin/assets/js/lib/chart-js/chartjs-init.js"></script>

