<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Online Self-Assessment Module for Business Excellence</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/card.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: BizPage
      Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body id="body">

    <!--==========================
        Top Bar
      ============================-->
    @*<section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
            <div class="contact-info float-left">
                <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">contact@example.com</a>
                <i class="fa fa-phone"></i> +1 5589 55488 55
            </div>
            <div class="social-links float-right">
                <a href="~/User/Register" class="twitter">Register</a>
                <a href="~/User/Login" class="facebook">Sign in</a>
            </div>
        </div>
    </section>*@

    <!--==========================
      Header
    ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <!--<h1><a href="#intro" class="scrollto">BizPage</a></h1> -->
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="#intro"><img src="~/img/iqlogo.png" alt="" title="" /></a>
            </div>

            <div id="logo2" class="pull-right">
                <!--<h1><a href="#intro" class="scrollto">BizPage</a></h1> -->
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="#intro"><img src="~/img/ciilogo.png" alt="" title="" /></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active">
                        <a href="~/User/Index">Home</a>
                    </li>
                    <li>
                        <a href="#about_assessment">About Assessment</a>
                    </li>
                    <li>
                        <a href="#faq">FAQ</a>
                    </li>
                    <li>
                        <a href="#about">About Us</a>
                    </li>
                    <li>
                        <a href="#guideline">Guidelines</a>
                    </li>
                    <li>
                        <a href="#contact">Contact us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header><!-- #header -->

    <main id="main">
        <section id="contact" class="section-bg wow fadeInUp">
            <div class="container">
                <div>
                    @RenderBody()
                </div>
            </div>
        </section>

        <!--==========================
      About assessment Section
    ============================-->
        <section id="about_assessment">
            <div class="container">
                <header class="section-header">
                    <h3>About Assessment</h3>
                    <p>A Self - Assessment is designed to help an Organisation to assess its position on the journey of Business Excellence. It is based on a dip stick approach for assessing Organisations on different aspects that together define Excellence in terms of the Organisation’s capability & achievements. Based on the relative scored obtained the Organisation could assess & gauge its performance with respect to the Business Excellence Model.</p>
                </header>
                <section>
                    <div class="row about-cols">
                        <div class="col-md-6 ">
                            <h2 class="title">Need for Self-Assessment</h2>
                            <p>
                                Currently in the Industry context other than formal & external Assessments, there are limited avenues for Organisations to carry out a quick and cost-effective study of their processes & practices with respect to Excellence Model(s). If the Organisations choose to employ an external agency (ies), consultant(s) for carrying out Assessments the relative effort, cost & time consumed are considerably high. The need for this Online Self - Assessment application was felt when many of our member Organisations approached us & requested for a quick & easy tool to know the status of the Organisation on various facets of Business Excellence.
                            </p>
                        </div>

                        <div class="col-md-6">
                            <div class="img">
                                <img src="~/img/about-plan.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <h2 class="title">Points to note:</h2>
                    <ul>
                        <li>
                            The CII Self-Assessment System for Business Excellence consists of 3 Levels with Level 1 as the basic one and Level 3 being the tough one.

                        </li>
                        <li>The Application consists of different type of multiple-choice questions (5 choices) with each choice adding to specified score matrix.</li>
                        <li>The user needs to select a choice for each question in the different levels.</li>
                        <li>The migration of the levels i.e from one level to next would be intimated by the Administrator through electronic communication precisely email.</li>
                        <li>The questions marked with an <b>asterisk (*)</b> symbol should be considered as <b>mandatory</b> question, these questions cannot be skipped in this application. However, the questions without the asterisk (*) symbol can be skipped.</li>

                    </ul>
                    <h2 class="title">A word of causion</h2>
                    <p class="caution-text">Assessments like any other tool or techniques, should be used with care if they are to achieve the desired results. </br> Several cautions are noted below:</p>
                    <ul class="caution-list">
                        <li>
                            Assessments will not directly provide answers. Instead, they will provide information that can be used to make informed decisions. If the right information is not collected, then the Assessment will have little impact.
                        </li>
                        <li>
                            The Assessment will have little value if the Organisation is not committed to acting on the results. A commitment to change must exist in the Organisation. An Assessment should be used to identify areas where change is needed and to facilitate action.
                        </li>
                        <li>The Assessment must be sound and defensible from a scientific and legal standpoint. </li>
                    </ul>
                    <p>
                        An assessment should never be seen as an end to itself. Instead, assessments are a disciplined process for continually identifying what information needs to be collected and then using the information to take informed decisions. By providing crucial information on the Organisation’s strategy, assessment results can be used to help an Organisation become more effective.
                    </p>
                    <dfn class="caution-notes">*Please note that the Self-Assessment application would serve as a dip-stick tool and would not be able to bring out the comprehensive status of the Organisation with respect to the Excellence Model. If an Organisation chooses to have an in-depth Assessment, it is suggested to opt for a CII Facilitated Assessment with the Organisation’s resource person. </dfn>
                </section>



            </div>
        </section>
        <!-- #about -->
        <!--==========================
        FAQ
    ============================-->
        <section id="faq">
            <div class="container">
                <header class="section-header">
                    <h3>FAQs</h3>
                </header>

                <section>
                    <dl>
                        <dt>When a Self-Assessment is required?</dt>
                        <dd>The need for a Self-Assessment is felt most when an Organisation wants to introspect itself and would want to understand its relative position with respect to a specific standard or a set of best practices. </dd>
                        <br />
                        <dt>Why a Self-Assessment? </dt>

                        <dd>
                            The analysis of the Self-Assessment would throw up areas of SWOT (Strengths, Weakness, Opportunities & Threats) across the various business aspects & would serve as a good input for the strategic planning and related outcomes. The Self-Assessment considers Excellence in a broad sense. It also addresses areas such as the effectiveness of procedures, the achievements of continuous improvement in products, processes & services, and the Organisation’s use and development of its people in achieving Excellence. This Self-Assessment also covers the aspects relating to Innovation and optimal usage of available resources.
                        </dd>
                    </dl>
                </section>

            </div>
        </section>

        <!-- #FAQ -->
        <!--==========================
        About
    ============================-->
        <section id="about">
            <div class="container">
                <header class="section-header">
                    <h3>About Us</h3>
                    <p>CII Institute of Quality is the leading authority in Quality Enhancement among organisations and industries. Over the past century, CII has provided Indian Industries with the support, systems and tools to make a mark in the competitive world. It is realised that the best way to enhance an organisation’s competitiveness is through the quality route.</p>
                </header>
                <h2 class="title">Our Vision:</h2>
                <p>To be a Centre of Excellence of international repute that provides role model products and services for the continuous betterment of organizations and society.</p>

                <h2 class="title">Our Mission:</h2>
                <p>To evolve and leverage a Quality Movement that transforms India by offering standard solutions, creating practical insights, driving tangible results, thereby enhancing competitiveness and inclusive growth.</p>

                <h2 class="title">Our Offerings:</h2>
                <div class="row about-cols">
                    <div class="col-md-6">
                        <p>CII IQ plays a pioneering role in introducing various concepts, in the different sectors of the economy, in order to promote the Quality practices and establish Quality systems in these sectors. CII IQ offers the following, wide-ranging services:</p>
                        <ul>
                            <li>Training</li>
                            <li>Seminars & Conferences</li>
                            <li>Counselling</li>
                            <li>Events to Share Best Practices</li>
                            <li>Assessment</li>
                            <li>Study Missions</li>
                            <li>Awards / Recognition</li>
                            <li>SME Clusters</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="about-col">
                            <div class="img">
                                <img src="img/about-mission.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #about -->
        <!--==========================
        Guideline
    ============================-->
        <section id="guideline">
            <div class="container">
                <header class="section-header">
                    <h3>GUIDELINES</h3>
                    <p>
                        Please read the document carefully before starting the Self-Assessment.
                        <span><button type="submit" class="dwd-btn">Download Guideline</button></span>
                    </p>
                </header>
            </div>
        </section>
        <!-- #Guideline -->
        <!--==========================
        Contact
    ============================-->
        <section id="contact" class="section-bg wow fadeInUp">
            <div class="container">

                <div class="section-header">
                    <h3>Contact Us</h3>
                    <p>
                        For any clarifications regarding this application, kindly contact:
                        <br />
                        <br /><b>Krishnan P M <br />(Principal Counsellor -Business Excellence)</b>
                        <br />
                        <br />
                        <b>Riti G <br />(Executive)</b>
                    </p>

                </div>

                <div class="row contact-info">

                    <div class="col-md-4">
                        <div class="contact-address">
                            <i class="ion-ios-location-outline"></i>
                            <h3>Address</h3>
                            <address>
                                Confederation of Indian Industry <br />Institute of Quality<br />
                                Bharat Nagara 2nd Stage, Magadi Main Road,<br />
                                Vishwaneedam Post, Bangalore- 560091
                            </address>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-phone">
                            <i class="ion-ios-telephone-outline"></i>
                            <h3>Phone Number</h3>
                            <p>
                                <a href="tel:+91 96326 61888">+91 96326 61888</a>
                            </p>
                            <p>
                                <a href="tel:+91 74114 19447">+91 74114 19447</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-email">
                            <i class="ion-ios-email-outline"></i>
                            <h3>Email</h3>
                            <p>
                                <a href="mailto:Krishnan.pm@cii.in">Krishnan.pm@cii.in</a>
                            </p>
                            <p>
                                <a href="mailto:riti.g@cii.in ">riti.g@cii.in </a>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>

            </div>
        </section>
        <!-- #Contact -->
        <!--==========================
      Featured Services Section
    ============================-->
        <section id="featured-services">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 box">
                        <h4 class="title"><a href="">Register</a></h4>
                        <p class="description">Register Now for evaluation of the Organisation’s performance!</p>
                    </div>

                    <div class="col-lg-4 box">
                        <h4 class="title"><a href="">Participate</a></h4>
                        <p class="description">Participate Now for identifying your Organisation’s Strengths & areas in need of improvement then increasing commitment to performance planning.</p>
                    </div>

                    <div class="col-lg-4 box">
                        <h4 class="title"><a href="">Review</a></h4>
                        <p class="description">Overall reviewing of your Organisation’s performance in order to change & be future ready!</p>
                    </div>

                </div>
            </div>
        </section><!-- #featured-services -->
    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">


        <div class="container">
            <div class="copyright">
                &copy; 2018 CII Online Self Assessment System Module. All Rights Reserved.
            </div>

        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/superfish/hoverIntent.js"></script>
    <script src="~/lib/superfish/superfish.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <script src="~/lib/sticky/sticky.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="~/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/js/main.js"></script>
    <script src="~/js/API.js"></script>

</body>
</html>

