@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    Shirdi Sai Baba Temple of Seattle 18109 NE 76th St, Suite #108<br />
    Redmond, WA - 98052<br />
    <abbr title="Phone">P:</abbr>
    (425) 999-6350.
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:seattlesaibaba@gmail.com">Seattlesaibaba@gmail.com</a><br />
</address>