
@{
    ViewBag.Title = "Donation";
}


<h3>@ViewBag.Message</h3>

<p>Shirdi Sai Baba helps Always.. in All Ways.. </p>

<br />
<br />

<div class="stl-glb-ctnr">
    <div class="stl-glb-ctnt">
        <div class="col-md-10 rk-float">
            <div class="stl-pnl-ctnr">
                <div class="stl-pnl stl-pnl-rt">
                    <div class="stl-pnl-header stl-pnl-header-rt">
                        <div class="col-sm-6">
                            <button class="btn stl-btn stl-dn-tab stl-dn-tab-active" id="reccurring-donation">Reccurring donation</button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn stl-btn stl-dn-tab" id="one-time-donation">One-time donation</button>
                        </div>
                    </div>
                    <div class="stl-pnl-body">
                        <div class="stl-dn-tab-body">
                            <div class="form-body">
                                <form action=" https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="NGKPDKQ9WHRGJ">
                                    <div class="entry-feild">
                                        <label for="email">Donation options</label>
                                        <select name="os0">
                                            <option value="Be a Devotee">Be a Devotee : $31.00 USD - monthly</option>
                                            <option value="Make an impact">Make an impact : $51.00 USD - monthly</option>
                                            <option value="See the difference">See the difference : $101.00 USD - monthly</option>
                                        </select>
                                    </div>
                                    <div class="entry-feild">
                                        <label for="dnremail">Donor's Email ID</label>
                                        <input type="email" id="dnremail" name="dnremail" placeholder="Enter Your Email", required>
                                    </div>

                                    <div class="entry-feild text-center">
                                        <button type="submit" class="btn stl-btn stl-send stl-bynow">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="stl-dn-tab-body">
                            <div class="form-body">

                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="GVDSC9R7WLE54">
                                    <div class="entry-feild">
                                        <label for="dnremail">Donor's Email ID</label>
                                        <input type="email" id="dnremail" name="dnremail" placeholder="Enter Your Email", required>
                                    </div>
                                    <div class="entry-feild text-center">
                                        <button type="submit" class="btn stl-btn stl-send stl-bynow">Make a Donation</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
            $(document).ready(function () {
                stlTab();
                $("#reccurring-donation").click();
            });

            function stlTab() {
            $(".stl-dn-tab-body").eq(0).show();
            $(".stl-dn-tab").each(function(index, item) {
                $(this).click(function() {
                    $(".stl-dn-tab").removeClass("stl-dn-tab-active");
                    $(".stl-dn-tab-body").hide();
                    $(this).addClass("stl-dn-tab-active");
                    $(".stl-dn-tab-body").eq(index).fadeIn();
                })
            })
        }
    </script>
}


