@{
    ViewBag.Title = "Sai Baba Seattle";
}

<h1>@ViewBag.Title</h1>
<div class="pics stl-slider-ctnr container no-padding" id="fade" style="position: relative;">
    <img class="thumb img-responsive cycle-slide" style="left: 0px; top: 0px; display: block; visibility: hidden; position: absolute; z-index: 97; opacity: 0;" alt="images" src="~/Images/akhanda-parayanam-aug-18th[1].jpg">
    <img class="thumb img-responsive cycle-slide" style="left: 0px; top: 0px; display: block; visibility: hidden; position: absolute; z-index: 96; opacity: 0;" alt="images" src="~/Images/ganapathi-navagraha-homam[1].jpg">
    <img class="thumb img-responsive cycle-slide" style="left: 0px; top: 0px; display: block; visibility: hidden; position: absolute; z-index: 95; opacity: 0;" alt="images" src="~/Images/saibaba-seattle-temple-hours[1].jpg">
    <img class="thumb img-responsive cycle-slide" style="left: 0px; top: 0px; display: block; visibility: hidden; position: absolute; z-index: 100; opacity: 0;" alt="images" src="~/Images/satyanarayana-vratham-august-25th[1].jpg">
    <img class="thumb img-responsive cycle-slide cycle-slide-active" style="left: 0px; top: 0px; display: block; visibility: visible; position: absolute; z-index: 99; opacity: 1;" alt="images" src="~/Images/varalakshmi-vratam-august-24th[1].jpg">
</div>

